@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Here's how you can get in touch with us.</h3>

<img src="https://pngimage.net/wp-content/uploads/2018/06/indiana-png-6.png" alt="garlic" style="width:200px; height:300px;" />

<address>
    9375 E. 600 S.<br />
    Zionsville, IN 46077<br />
    <abbr title="Phone">P:</abbr>
    317-201-9999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@edelweissacres.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@edelweissacres.com</a><br />
</address>

<address>
    <strong>Facebook:</strong> <a href="https://facebook.com"><img src="https://clipart.info/images/ccovers/1509135368facebook-logo-PNG-clear-blue.png" style="width:100px; height:100px; border-radius:30%;" /></a>
    <strong>Twitter:</strong>  <a href="https://twitter.com"><img src="https://purepng.com/public/uploads/large/purepng.com-twitter-icon-ios-7symbolsiconsapple-iosiosios-7-iconsios-7-721522596687v78wl.png" style="width:100px; height:100px; border-radius:30%;" /></a>
    <strong>Instagram:</strong>  <a href="https://instagram.com"><img src="https://purepng.com/public/uploads/large/21502363075irgstsx7vrabhcrpn3sywzemi6sm5qq1d9b81jzhbcswluxizu5cbah444kkikmuez1ldpmqbqbx250hgo78d6om43w0os0nqcff.png" style="width:100px; height:100px; border-radius:30%;" /></a>
</address>